.button {
    width: 100%;
    padding: 15px 5px;
    border-radius: 10px;
    border: 0;
    font-weight: 700;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #549300;
}

.button:hover {
    background-color: #4f8a02;
}